


<h1>This is your dashboard! If you press the button below, you will get your custom onboarding script</h1>

<button class="action-button" id="generate-script">PRESS THIS BUTTON</button>

<script src="../public/js/getscript.js"></script>

<span id="boardme-guide-4"></span>

<script src="http://localhost:4000/public/js/boardme.js"></script>